---
---

<div class="relative w-full mx-auto overflow-hidden py-10 border-t-4 border-b-4 border-[#71af8d]">
    <!-- Contenedor del carrusel -->
    <div id="carousel" class="flex transition-transform duration-500 ease-in-out">
      <!-- Slide 1 -->
      <div class="min-w-full flex justify-center items-center">
        <img src="/images/google-education-logo.webp" alt="Google for Education" class="h-16 object-contain">
      </div>
      <!-- Slide 2 -->
      <div class="min-w-full flex justify-center items-center">
        <img src="/images/epea-logo.webp" alt="EPEA" class="h-16 object-contain">
      </div>
      <!-- Slide 3 -->
      <div class="min-w-full flex justify-center items-center">
        <img src="/images/science-bits-logo.webp" alt="Science Bits" class="h-16 object-contain">
      </div>
    </div>
  
    <!-- Botón Izquierda -->
    <button id="prev" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-200 hover:bg-gray-300 p-2 rounded-full shadow-md">
      &#10094; <!-- Código para una flecha izquierda -->
    </button>
  
    <!-- Botón Derecha -->
    <button id="next" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-200 hover:bg-gray-300 p-2 rounded-full shadow-md">
      &#10095; <!-- Código para una flecha derecha -->
    </button>
</div>

<script>
    document.querySelectorAll('.scroll-link').forEach(link => {
        link.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1); // Obtener el ID de la sección
        const targetElement = document.getElementById(targetId);

        if (targetElement) {
            const offset = 80; // Ajuste extra para evitar que se recorte en la parte superior
            const elementPosition = targetElement.getBoundingClientRect().top + window.scrollY;
            const adjustedPosition = elementPosition - (window.innerHeight / 2) + (targetElement.clientHeight / 2) - offset;

            window.scrollTo({
            top: adjustedPosition,
            behavior: "smooth"
            });
        }
        });
    });
</script>